//-------------------------------------
//-- Magento legacy - Config - Design
//-------------------------------------

$m2legacy-color-white:      #ffffff;
$m2legacy-color-black:      #000000;

$m2legacy-color-gray20:      #333333;
$m2legacy-color-gray34:      #575757;
$m2legacy-color-gray40:      #666666;
$m2legacy-color-gray48:      #7d7d7d;
$m2legacy-color-gray52:      #858585;
$m2legacy-color-gray60:      #999999;
$m2legacy-color-gray66:      #a6a6a6;
$m2legacy-color-gray76:      #c2c2c2;
$m2legacy-color-gray79:      #c9c9c9;
$m2legacy-color-gray80:      #cccccc;
$m2legacy-color-gray91:      #e8e8e8;
$m2legacy-color-gray92:      #ebebeb;
$m2legacy-color-gray94:      #f0f0f0;
$m2legacy-color-gray95:      #f2f2f2;
$m2legacy-color-gray99:      #f5f5f5;

$m2legacy-color-gray-light1: #f4f4f4;
$m2legacy-color-gray-light2: #bbbbbb;
$m2legacy-color-gray-light3: #aeaeae;
$m2legacy-color-gray-light4: #c1c1c1;
$m2legacy-color-gray-middle: #e4e4e4;
$m2legacy-color-gray-dark:   #494949;

$m2legacy-color-red:         #e02b27;

$m2legacy-color-orange:      #ff5501;

$m2legacy-color-green:       #006400;

$m2legacy-color-blue1:       #1979c3;
$m2legacy-color-blue2:       #006bb4;
$m2legacy-color-blue3:       #68a8e0;
