[submodule "src/store/app/code/Absolunet/Cli"]
	path = src/store/app/code/Absolunet/Cli
	url = https://boutikpuller:a6QL7mHaApNFsVN78vUM@bitbucket.org/absolunet/boutik-cli.git
[submodule "src/store/app/design/frontend/Absolunet/boutik"]
	path = src/store/app/design/frontend/Absolunet/boutik
	url = https://boutikpuller:a6QL7mHaApNFsVN78vUM@bitbucket.org/absolunet/boutik-theme-frontend-boutik.git
