//-------------------------------------
//-- Store email - Config - Design
//-------------------------------------

//-- Colors
$storeemail-bg-color:           $common-bg-site-color;
$storeemail-bgcontent-color:    $common-bg-color;

$storeemail-text-color:         $common-text-color;
$storeemail-link-color:         $common-link-color;
$storeemail-link-hover-color:   $common-link-hover-color;

$storeemail-border-color:       $common-border-color;

$storeemail-button-bg-color:    $common-button-bg-color;
$storeemail-button-text-color:  $common-button-text-color;

$storeemail-message-text-color: $common-warning-text-color;




//-- Fonts
$storeemail-text-font:        $common-text-font;

$storeemail-text-base-weight: $common-text-base-weight;
$storeemail-text-fat-weight:  $common-text-fat-weight;

$storeemail-text-base-size:   $common-text-base-size;

$storeemail-padding:          .625em;

$storeemail-xsmall-down-media: $common-xsmall-down-media;
