//-------------------------------------
//-- Store checkout - Config - Design
//-------------------------------------

// Colors
$storecheckout-cartsummary-bg-color:                      $common-bg-var1-color;
$storecheckout-cartsummary-item-bg-color:                 $common-bg-color;
$storecheckout-authentication-bg-color:                   $common-bg-color;
$storecheckout-progressbar-bg-color:                      $common-alt-color;
$storecheckout-progressbar-item-color:                    $common-alt-color;
$storecheckout-progressbar-item-bg-color:                 $common-bg-color;
$storecheckout-progressbar-item-active-color:             $common-text-color;
$storecheckout-progressbar-item-active-bg-color:          $common-bg-color;
$storecheckout-progressbar-item-complete-color:           $common-success-text-color;
$storecheckout-success-registration-bg-color:             $common-bg-var1-color;

$storecheckout-authentication-popup-minwidth:             $konstan-dimension-medium;
