<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <type name="Magento\Framework\Console\CommandList">
        <arguments>
            <argument name="commands" xsi:type="array">
                <item name="installRates" xsi:type="object">Absolunet\Cli\Console\Command\InstallRates</item>
                <item name="installRules" xsi:type="object">Absolunet\Cli\Console\Command\InstallRules</item>
                <item name="installSettings" xsi:type="object">Absolunet\Cli\Console\Command\InstallSettings</item>
                <item name="createStoreView" xsi:type="object">Absolunet\Cli\Console\Command\CreateStoreView</item>
                <item name="deleteTestDatas" xsi:type="object">Absolunet\Cli\Console\Command\DeleteTestDatas</item>
                <item name="archive" xsi:type="object">Absolunet\Cli\Console\Command\Archive</item>
                <item name="import_attribute" xsi:type="object">Absolunet\Cli\Console\Command\ImportAttributeCommand</item>
                <item name="import_attribute_set" xsi:type="object">Absolunet\Cli\Console\Command\ImportAttributeSetCommand</item>
                <item name="import_attribute_option" xsi:type="object">Absolunet\Cli\Console\Command\ImportAttributeOptionCommand</item>
                <item name="import_category" xsi:type="object">Absolunet\Cli\Console\Command\ImportCategoryCommand</item>
            </argument>
        </arguments>
    </type>
    <type name="Absolunet\Cli\Logger\Handler">
        <arguments>
            <argument name="filesystem" xsi:type="object">Magento\Framework\Filesystem\Driver\File</argument>
        </arguments>
    </type>
    <type name="Absolunet\Cli\Logger\Logger">
        <arguments>
            <argument name="name" xsi:type="string">dataScriptLogger</argument>
            <argument name="handlers"  xsi:type="array">
                <item name="system" xsi:type="object">Absolunet\Cli\Logger\Handler</item>
            </argument>
        </arguments>
    </type>
    <preference for="Absolunet\Cli\Api\Data\RatesInterface" type="Absolunet\Cli\Model\Rates" />
    <preference for="Absolunet\Cli\Api\Data\RulesInterface" type="Absolunet\Cli\Model\Rules" />
    <preference for="Absolunet\Cli\Api\Data\StoreViewInterface" type="Absolunet\Cli\Model\StoreView" />
    <preference for="Absolunet\Cli\Api\Data\SettingsInterface" type="Absolunet\Cli\Model\Settings" />
    <preference for="Absolunet\Cli\Api\Data\TestDatasInterface" type="Absolunet\Cli\Model\TestDatas" />
</config>