//-------------------------------------
//-- Store UI - Config - Breadcrumbs
//-------------------------------------

$storeui-breadcrumbs-link-color:       $common-link-color;
$storeui-breadcrumbs-link-hover-color: $common-link-hover-color;
$storeui-breadcrumbs-text-color:       $common-text-color;
