//-------------------------------------
//-- Store UI - Config - Pager
//-------------------------------------

$storeui-pager-text-color:       $common-text-color;
$storeui-pager-link-color:       $common-link-color;
$storeui-pager-link-hover-color: $common-link-hover-color;

$storeui-pager-border: common-border();
